body {
  font-family: "Indie Flower", cursive;
  text-align: center;
  font-size: 40px;
}

h1 {
  display: none;
  font-family: "Helvetica", sans-serif;
  font-weight: lighter;
  font-size: 20px;
}

button {
  border: none;
  outline: none;
  background-color: white;
  width: 200px;
  display: inline-block;
  font-size: 20px;
  opacity: 0.7;
  border-radius: 20px;
  border: solid 2px transparent;
  cursor: pointer;
}

button:hover {
  opacity: 1;
  border: dashed 2px black;
}

.navigate {
  display: block;
  opacity: 0.3;
}

.navigate:hover {
  opacity: 1;
}

.player-choice {
  margin: 100px auto;
}

.player-choice p {
  margin: 30px;
}

.mark-choice, .difficulty-choice {
  margin: 100px auto;
  padding: 0 20px;
}

.mark-choice button, .difficulty-choice button {
  font-family: "Indie Flower", cursive;
  width: 100px;
}

.mark-choice button.diff, .difficulty-choice button.diff {
  font-size: 25px;
}

.mark-choice button.mark, .difficulty-choice button.mark {
  font-size: 60px;
}

.mark-choice .back, .difficulty-choice .back {
  margin: 60px auto;
}

.display {
  margin: 60px auto 10px;
  padding: 0 20px;
  font-size: 25px;
}

.grid {
  display: table;
  margin: 40px auto;
}

.grid .row {
  display: table-row;
}

.grid .row .cell {
  width: 80px;
  height: 80px;
  display: table-cell;
  padding: 0;
  font-size: 55px;
  font-weight: lighter;
}

.grid .row .cell:hover {
  background-color: #eee;
}

.grid .row .cell:hover.used {
  background-color: white;
}

#cell0, #cell1, #cell2, #cell3, #cell4, #cell5 {
  border-bottom: solid 4px black;
}

#cell0, #cell1, #cell3, #cell4, #cell6, #cell7 {
  border-right: solid 4px black;
}

.refresh-display {
  margin: 40px auto;
}

.refresh-display .navigate {
  display: inline-block;
  margin: 30px;
}
